    <nav class="navbar navbar-dark bg-body-dark fixed-top navbar-expand-lg bg-black">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink=""><img class="home-img"
            src="assets/img/logo.webp" alt="homeimg"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas bg-dark offcanvas-end w-25" tabindex="-1" id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body lg">
            <ul class="left-menu navbar-nav justify-content-start flex-grow-1 pe-3 d-flex align-items-center">
              <li class="nav-item d-lg-none">
                <a class="nav-link" routerLink="">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="albums">Albums</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="bands">Bands</a>
              </li>
              <li class="nav-item d-sm-block d-md-block d-lg-none">
                <a class="nav-link" routerLink="profile">Profile</a>
              </li>
              <li *ngIf="cambiarHeader()" class="nav-item d-sm-block d-md-block d-lg-none">
                <a class="logout nav-link" (click)="logout()">Logout</a>
              </li>
            </ul>
            <ul *ngIf="!cambiarHeader()" class="navbar-nav justify-content-end flex-grow-1 pe-3 text-center">
              <li class="nav-item">
                <a class="nav-link" routerLink="login">Login</a>
              </li>
            </ul>
            <div *ngIf="cambiarHeader()" class="dropdown d-sm-none d-md-none d-lg-block">
              <img src="{{this.profileimage}}" class="profilepicture dropdown-toggle mx-auto" width="50px" alt="">
              <ul class="dropdown-menu dropdownprofile mx-auto" aria-labelledby="dropdownMenuButton">
                <li class="nav-item">
                  <a class="dropdown-item" routerLink="profile">Profile</a>
                  <a (click)="logout()" class="logout dropdown-item text-decoration-none">Logout</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        </div>
    </nav>