    <nav class="navbar navbar-dark bg-body-dark fixed-top navbar-expand-lg bg-black">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink=""><img class="home-img"
            src="assets/img/logo.webp" alt="homeimg"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas bg-dark offcanvas-end w-25" tabindex="-1" id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body lg">
            <ul class="left-menu navbar-nav justify-content-start flex-grow-1 pe-3 d-flex align-items-center">
              <li class="nav-item">
                <a class="nav-link" routerLink="albums">Albums</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="bands">Bands</a>
              </li>
            </ul>
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 text-center">
              <li *ngIf="cambiarHeader()" class="nav-item">
                <a class="nav-link" routerLink="profile">Profile</a>
                <a (click)="logout()" *ngIf="cambiarHeader()" class="logout nav-link text-decoration-none">Logout</a>
              </li>
              <li *ngIf="!cambiarHeader()" class="nav-item">
                <a class="nav-link" routerLink="login">Login</a>
              </li>
            </ul>
          </div>
        </div>
        </div>
    </nav>