<body style="background-image: url(assets/img/background.png);">
    <div class="content d-flex justify-content-center">
        <div class="nav d-flex flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
            type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Edit Profile</button>
          <button (click)="getSpotifyProfile()" class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
            type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Create Playlists</button>
          <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings"
            type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Add your Work</button>
          <button class="nav-link" id="v-pills-cookie-tab" data-bs-toggle="pill" data-bs-target="#v-pills-cookie"
            type="button" role="tab" aria-controls="v-pills-cookie" aria-selected="false">Cookie Settings</button>
        </div>
        <div class="tab-content w-50" id="v-pills-tabContent">
          <div class="tab-pane bg-black border border-white rounded-3 show active" id="v-pills-home" role="tabpanel"
            aria-labelledby="v-pills-home-tab">
            <div class="container-fluid">
              <form class="form pb-3" enctype="multipart/form-data" method="post">
                <div class="form-group p-1">
                  <p for="profilepic">Your profile picture:</p>
                  <img *ngIf="profilepic" class="profile-photo mb-3 w-25 d-flex justify-content-center" src="{{profilepic}}" alt="profile">
                  <img *ngIf="!profilepic" class="profile-photo mb-3 w-25 d-flex justify-content-center" src="assets/img/profile.png" alt="profile">                            
                  <input type="file" (change)="onFileSelected($event)" class="form-control" id="profilepic" name="profilepic" accept="image/*">
                </div>
                <div class="form-group p-1">
                  <label for="email">Email address</label>
                  <input type="email" [(ngModel)]="updateUser.email" value="{{this.updateUser.email}}" class="form-control" name="email" id="email" placeholder="Enter email">
                </div>
                <div class="form-group p-1">
                  <label for="username">Username</label>
                  <input type="text" [(ngModel)]="updateUser.username" value="{{this.updateUser.username}}" class="form-control" name="username" id="username" placeholder="Enter email">
                </div>
                <div class="form-group p-1">
                  <label for="password">Previous Password</label>
                  <input type="password" [(ngModel)]="this.updateUser.oldpassword" class="form-control" name="oldpassword" id="password" placeholder="Password">
                </div>
                <div class="form-group p-1">
                  <label for="password">New Password</label>
                  <input type="password" class="form-control" [(ngModel)]="this.updateUser.password" name="newpassword" id="newpassword" placeholder="Enter New Password">
                </div>
                <div class="form-group p-1">
                  <label for="password">Repeat New Password</label>
                  <input type="password" class="form-control" [(ngModel)]="this.updateUser.repeatnewpassword" name="repeatnewpassword" id="repeatnewpassword" placeholder="Repeat New Password">
                </div>
                <div *ngIf="msg" class="error mt-3 text-success text-center">{{this.msg}}</div>
                <div *ngIf="err" class="error mt-3 text-danger text-center">{{this.err}}</div>
                <button type="submit" (click)="updateconfoto()" class="btn btn-primary mt-3 d-flex mx-auto">Submit</button>
                </form>
                <div class="spotify-btn text-center m-4">
                  <a class="btn btn-success" href="{{link}}">Log in to Spotify</a>
                </div>
            </div>
          </div>
          <div class="tab-pane fade playlists" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="w-100 createplaylist bg-black border border-white rounded-3">
              <form class="form d-flex justify-content-center">
                <div class="subgenres form-group text-center">
                  <label class="mx-1" for="subgenre">Select Subgenres:</label>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-dark dropdown-toggle mx-1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Subgenres</button>
                    <div class="dropdown-menu" aria-labelledby="subgenre">
                      <div class="dropdown-item form-group">
                        <input type="checkbox" id="norwegian" name="norwegian" value="norwegian" />
                        <label for="norwegian">Norwegian Black Metal</label>
                      </div>
                      <div class="dropdown-item form-group">
                        <input type="checkbox" id="ambiental" name="ambiental" value="ambiental" />
                        <label for="ambiental">Ambient Black Metal</label>
                      </div>
                      <div class="dropdown-item form-group">
                        <input type="checkbox" id="symphonic" name="symphonic" value="symphonic" />
                        <label for="symphonic">Symphonic Black Metal</label>
                      </div>
                      <div class="dropdown-item form-group">
                        <input type="checkbox" id="fwave" name="fwave" value="fwave" />
                        <label for="fwave">First Wave of Black Metal</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="number" class="form-control mx-1" placeholder="Number of Songs">
                    </div>
                  </div>
                </div>
              </form>
              <p *ngIf="playlisterr" class="text-center text-danger mt-4">{{this.playlisterr}}</p>
              <div class="createbutton mx-auto text-center mt-5"><button (click)="createPlaylist()" class="playlists-button btn btn-primary">Create Spotify Playlist</button></div>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
          <div class="tab-pane cookies fade" id="v-pills-cookie" role="tabpanel" aria-labelledby="v-pills-cookie-tab">
           <div class="cookiescontainer text-center bg-black p-3 border border-white rounded-3">
            <button (click)="activarCookies()" class="cookiebtn btn btn-success mx-2">Turn Cookies On</button>
            <button (click)="desactivarCookies()" class="cookiebtn btn btn-danger mx-2">Turn Cookies Off</button>
            <p *ngIf="cookiemsg" class="text-success text-center error mt-4">{{cookiemsg}}</p>
           </div>
          </div>
        </div>
      </div>
</body>