<body style="background-image: url(assets/img/background.png); background-size: cover;">
    <div class="content d-flex justify-content-center">
        <div class="nav d-flex flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
            type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Edit Profile</button>
          <button (click)="getSpotifyProfile()" class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
            type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Create Playlists</button>
          <button class="nav-link" id="v-pills-addwork-tab" data-bs-toggle="pill" data-bs-target="#v-pills-addwork"
            type="button" role="tab" aria-controls="v-pills-addwork" aria-selected="false">Add your Work</button>
            <button class="nav-link" id="v-pills-youralbums-tab" data-bs-toggle="pill" data-bs-target="#v-pills-youralbums"
            type="button" role="tab" aria-controls="v-pills-youralbums" aria-selected="false">Your albums</button>
        </div>
        <div class="tab-content w-50" id="v-pills-tabContent">
          <div class="tab-pane bg-black border border-white rounded-3 show active" id="v-pills-home" role="tabpanel"
            aria-labelledby="v-pills-home-tab">
            <div class="container-fluid">
              <form class="form pb-3" enctype="multipart/form-data" method="post">
                <div class="form-group p-1">
                  <p for="profilepic">Your profile picture:</p>
                  <img *ngIf="profilepic" class="profile-photo mb-3 w-25 d-flex justify-content-center" src="{{profilepic}}" alt="profile">
                  <img *ngIf="!profilepic" class="profile-photo mb-3 w-25 d-flex justify-content-center" src="assets/img/profile.png" alt="profile">                            
                  <input type="file" (change)="onFileSelected($event)" class="form-control" id="profilepic" name="profilepic" accept="image/*">
                </div>
                <div class="form-group p-1">
                  <label for="email">Email address</label>
                  <input type="email" [(ngModel)]="updateUser.email" value="{{this.updateUser.email}}" class="form-control" name="email" id="email" placeholder="Enter email">
                </div>
                <div class="form-group p-1">
                  <label for="username">Username</label>
                  <input type="text" [(ngModel)]="updateUser.username" value="{{this.updateUser.username}}" class="form-control" name="username" id="username" placeholder="Enter email">
                </div>
                <div class="form-group p-1">
                  <label for="password">Previous Password</label>
                  <input type="password" [(ngModel)]="this.updateUser.oldpassword" class="form-control" name="oldpassword" id="password" placeholder="Password">
                </div>
                <div class="form-group p-1">
                  <label for="password">New Password</label>
                  <input type="password" class="form-control" [(ngModel)]="this.updateUser.password" name="newpassword" id="newpassword" placeholder="Enter New Password">
                </div>
                <div class="form-group p-1">
                  <label for="password">Repeat New Password</label>
                  <input type="password" class="form-control" [(ngModel)]="this.updateUser.repeatnewpassword" name="repeatnewpassword" id="repeatnewpassword" placeholder="Repeat New Password">
                </div>
                <div *ngIf="msg" class="error mt-3 text-success text-center">{{this.msg}}</div>
                <div *ngIf="err" class="error mt-3 text-danger text-center">{{this.err}}</div>
                <button type="submit" (click)="updateconfoto()" class="btn btn-primary mt-3 d-flex mx-auto">Submit</button>
                </form>
                <div class="spotify-btn text-center m-4">
                  <a class="btn btn-success" href="{{link}}">Log in to Spotify</a>
                </div>
            </div>
          </div>
          <div class="tab-pane fade playlists" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="w-100 createplaylist bg-black border border-white rounded-3">
              <form class="form">
                <div class="subgenres form-group text-center w-100">
                  <label class="mx-1" for="subgenre">Select Subgenres:</label>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-dark dropdown-toggle mx-1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Subgenres</button>
                    <div class="dropdown-menu" aria-labelledby="subgenre">
                      <div class="dropdown-item form-group" *ngFor="let genre of genres">
                        <input type="radio" name="genre" [(ngModel)]="selectedGenre" [value]="genre.name" (change)="onRadioChange(genre.name)" />
                        <label for="fwave">{{ genre.name }}</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="number" [(ngModel)]="numerocanciones" name="numerocanciones" class="form-control mx-1" placeholder="Number of Songs">
                    </div>
                  </div>
                </div>
              </form>
              <p *ngIf="playlisterr" class="error text-center text-danger mt-4">{{this.playlisterr}}</p>
              <p *ngIf="playlistmsg" class="text-center text-success mt-4">{{this.playlistmsg}}</p>
              <div class="createbutton mx-auto text-center mt-5"><button (click)="createPlaylist()" class="playlists-button btn btn-primary">Create Spotify Playlist</button></div>
            </div>
          </div>
          <div class="tab-pane addwork fade" id="v-pills-addwork" role="tabpanel" aria-labelledby="v-pills-addwork-tab">
            <div class="formulario container-fluid d-flex justify-content-center">
              <form class="form border border-white mb-5 text-white p-5 rounded-3 bg-black">
                <div class="mb-3 text-center">
                  <p class="text-success">Enter your Spotify Album Id</p>
                  <p class="text-success">Remember you can only have one album uploaded</p>
                  <label for="email" class="form-label">Spotify Album Id</label>
                  <input type="text" [(ngModel)]="albumid" class="form-control" name="albumid" aria-describedby="emailHelp">
                  <p class="error text-danger" *ngIf="communityalbumerr">{{communityalbumerr}}</p>        
                </div>
                <div class="mt-4 text-center">
                  <button type="submit" (click)="createAlbum()" class="btn btn-primary">Add Album To Database</button>
                </div>
              </form>
            </div>
          </div>
          <div class="tab-pane youralbums fade" id="v-pills-youralbums" role="tabpanel" aria-labelledby="v-pills-youralbums-tab">
            <div class="row w-100">
              <div class="col-md-auto d-flex flex-column mx-auto" *ngFor="let album of useralbums">
                <div class="card albums mx-auto border border-dark" style="width: 25rem">
                  <img [src]="album.picture" class="card-img-top" width="400px" alt="Album Cover"/>
                  <div class="card-body mx-auto text-center">
                    <h2 class="card-title">{{ album.name }}</h2>
                    <p class="card-text">{{ album.artist }}</p>
                    <p class="card-text">{{ album.date }}</p>
                    <p class="card-text">{{ album.userid }}</p>
                  </div>
                </div>
              </div>
            </div>
            <p class="text-danger error" *ngIf="useralbumserr">{{useralbumserr}}</p>
            <div class="text-center mt-3"><button (click)="deleteAlbum()" class="btn btn-danger mx-auto">Delete Album</button></div>
           </div>
        </div>
      </div>
</body>