body {
    padding-top: 150px;
}
h2 {
    font-family: 'UnifrakturCook', cursive;
    font-size: 40px;
}
p {
    font-family: 'UnifrakturCook', cursive;
    font-size: 30px;
}
.card {
    margin-bottom: 100px;
}