<body class="bg-black overflow-hidden" style="background-image: url(assets/img/background.png);">
    <div class="img">
      <img class="img-fluid d-flex mx-auto" src="assets/img/logo.webp" alt="" style="width: 150px;height: 150px;">
    </div>
  <div class="formulario container-fluid d-flex justify-content-center">
    <form class="form border border-white p-5 rounded-3 bg-black">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" [(ngModel)]="loginUser.email" class="form-control" id="email" name="email" aria-describedby="emailHelp">        
      </div>
        <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" [(ngModel)]="loginUser.password" class="form-control" id="password" name="password">
      </div>
      <div class="signup">
        <p class="text-center">Don't have an account? <a routerLink="/signup" class="d-inline-block mt-3">Sign up</a></p>
      </div>
      <div class="mt-4 text-center">
        <button type="submit" (click)="login()" class="btn btn-primary">Sign in</button>
      </div>
      <div *ngIf="err" class="error mt-3 text-danger text-center">{{this.err}}</div>
    </form>
  </div>
  </body>  