<body style="background-image: url(assets/img/background.png);">
  <div class="createalbums text-center">
    <button (click)="addBands()" class="btn btn-primary my-4 p-2">Add Bands</button>
  </div>
    <div class="row w-100 mx-auto">
      <div class="col-md-3" *ngFor="let band of bands">
        <div class="card bands mx-auto border border-dark" style="width: 25rem">
          <img [src]="band.picture" class="card-img-top" width="400px" alt="Album Cover"/>
          <div class="card-body mx-auto text-center">
            <h2 class="card-title">{{ band.name }}</h2>
            <p class="card-text">{{ band.genre }}</p>
            <a [href]="band.link" class="btn btn-dark mx-auto">Listen on Spotify</a>
          </div>
        </div>
      </div>
    </div>
  </body>