<body class="bg-black overflow-hidden" style="background-image: url(assets/img/background.png);">
<div class="img">
    <img class="img-fluid d-flex mx-auto" src="assets/img/logo.webp" alt="" style="width: 150px;height: 150px;">
  </div>
<div class="formulario d-flex justify-content-center">
  <form class="border border-white p-5 rounded-3 bg-black" action="" method="POST">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input required type="email" class="form-control" [(ngModel)]="signUpUser.email" id="email" name="email" aria-describedby="emailHelp">        
    </div>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input required type="text" class="form-control" [(ngModel)]="signUpUser.username" id="username" name="username">        
      </div>
      <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input required type="password" class="form-control" [(ngModel)]="signUpUser.password" id="password" name="password">
    </div>
<div class="mb-3">
<label for="repeatpassword" class="form-label">Repeat Password</label>
<input required type="password" class="form-control" [(ngModel)]="signUpUser.repeatpassword" id="repeatpassword" name="repeatpassword">
</div>
    <div class="mt-4 text-center">
      <button type="submit" class="btn btn-primary" (click)="signUp()">Sign up</button>
    </div>
    <div *ngIf="err" class="error mt-3 text-danger text-center">{{this.err}}</div>
  </form>
</div>
</body>