body {
    padding: 0;
    margin: 0;
}
.home-img {
    width: 50px;
    }

.nav-link {
    color: white;
}
.logout {
    cursor: pointer;
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
.dropdown>.dropdown-toggle:active {
      pointer-events: none;
  }
.dropdown-menu {
    width: 50%;
    left: 50%;
    transform: translateX(-50%); 
    top: 100%; 
  }
.profilepicture {
  display: block;
  margin-left: auto;
  margin-right: auto;
}